<% provide(:title, 'New Reading') %>
<h1>New Reading</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:reading) do |f| %>
        <%= f.label :time %>
        <div class="well">
          <div id="datetimepicker1" class="input-append date">
            <%#= f.text_field :time, :data_format {'dd/MM/yyyy hh:mm:ss'} %>
            <input type="text" />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
        <!-- TODO move this into five_minute_readings.js.coffee -->
        <script type="text/javascript">
            $(function() {
                $('#datetimepicker1').datetimepicker({
                    format: 'dd/MM/yyyy hh:mm',
                    language: 'en',
                    pickSeconds: false
                });
            });
        </script>
        <%= f.label :power, "Power Kw" %>
        <%= f.number_field :power, step: "0.001" %>
        <%= f.label :total_power, "Total Power KWh" %>
        <%= f.number_field :total_power, step: "0.001" %>
        <%= f.submit "Submit Reading", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<p>Find me in app/views/five_minute_readings/new.html.erb</p>
