    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Solar Panels", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <!--<li><%#= link_to "Home",    root_path %></li>-->
              <!--<li><%#= link_to "Help",    help_path %></li>-->
              <li><%= link_to "Sunburst", sunburst_five_minute_readings_path %></li>
              <li><%= link_to "Today", today_five_minute_readings_path %></li>
              <li><%= link_to "This Month", this_month_five_minute_readings_path %></li>
              <li><%= link_to "This Year", this_year_five_minute_readings_path %></li>
<!--
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  New Reading<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Five Minute", '/five_minute_readings/new' %></li>
                </ul>
              </li>
-->
            </ul>
          </nav>
        </div>
      </div>
    </header>
 
